<div id="contact">

  <%= form_for @contact do |f| %>
    <ol>
      <li><%= f.label :subject, "#{t('subject')}" %></li>
      <li><%= f.text_field :subject, required: true, class: 'grey' %></li>
    </ol>
    <ol>
      <li><%= f.label :email, "#{t('your_email')}" %></li>
      <li><%= f.text_field :email, required: true, class: 'grey' %></li>
    </ol>
    <ol>
      <li>
        <%= f.label :message, "#{t('your_message')}" %>
        <%= f.text_area :message,as: :text, required: true, cols: 70, rows: 3, class: 'grey' %>
      </li>
    </ol>
    <div>
      </br>
      <%= f.submit %>
    </div>
  <% end %>

<div id="coordinates">
    <p>LUCIEN COLLARD </p>
    <p> <%= t('address1')%></p>
    <p> <%= t('address2')%></p>
    <p> <%= t('tel1')%></p>
    <p> <%= t('tel2')%></p>
  </div>

</div>