<div id="contact-mobile">
  <p class='contact-text-mobile'><%= t('contact').upcase %></p>
  <%= form_for @contact do |f| %>

    <%= f.text_field :subject, placeholder: "#{t('subject')}", required: true, class: 'grey margin-mobile size' %>
    <%= f.text_field :email, placeholder: "#{t('your_email')}", required: true, class: 'grey margin-mobile size' %>
    <%= f.text_area :message, placeholder: "#{t('your_message')}",as: :text, required: true, cols: 70, rows: 3, class: 'grey margin-mobile' %>
    <div>
      </br>
      <%= f.submit %>
    </div>
  <% end %>
  <br>

  <p><%= t('shop')%>:
    <br>
    <b>Wine by One</b>, 27 rue Marignan 75008 Paris
  </p>



</div>