<div id="contact-mobile">
  <p class='contact-text-mobile'>CONTACTEZ NOUS</p>
  <%= form_for @contact do |f| %>

    <%= f.text_field :subject, placeholder: "#{t('subject')}", required: true, class: 'grey margin-mobile size' %>
    <%= f.text_field :email, placeholder: "#{t('your_email')}", required: true, class: 'grey margin-mobile size' %>
    <%= f.text_area :message, placeholder: "#{t('your_message')}",as: :text, required: true, cols: 70, rows: 3, class: 'grey margin-mobile' %>
    <div class= "hidden">
      <%= f.text_field :nickname, hint: 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.submit %>
    </div>
  <% end %>



</div>