<!DOCTYPE html>
<html>
<head>
  <title>Champagne</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Josefin+Sans:400,300|Gilda+Display' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="bg-mobile">
  <div class="<%=changing_bg%>" id="bg" ></div>
  <div class="cover"></div>
  <div class="settings">
    <%= render 'layouts/header' %>
    <div id="wrapper-mobile">
      <%= yield %>
    </div>
      <%= render 'layouts/navbar' %>

  </div>
</body>
</html>
