<div id="navbar">
  <span> <%= link_to t('history'), history_path %> </span>
  <span> <%= link_to t('philosophy'), philosophy_path %> </span>
  <span> <%= link_to t('types'), types_path %> </span>
  <span> <%= link_to t('vineyards'), vineyards_path %> </span>
  <span> <%= link_to t('contact'), contact_path %> </span>
  <span>
    <%= link_to icon('facebook'), ""%>
    <%= link_to icon('instagram'), ""%>
  </span>
</div>