<div id="navbar">
  <span> <%= link_to t('history'), history_path %> </span>
  <span> . </span>
  <span> <%= link_to t('philosophy'), philosophy_path %> </span>
  <span> . </span>
  <span> <%= link_to t('types'), types_path %> </span>
  <span> . </span>
  <span> <%= link_to t('vineyards'), vineyards_path %> </span>
  <span> . </span>
  <span> <%= link_to t('contact'), contact_path %> </span>
  <span>
    <%= link_to icon('facebook-square'), "https://www.facebook.com/Lucien-Collard-Champagne-992445890800326", target: '_blank'%>
    <%= link_to icon('instagram'), "https://instagram.com/champagneluciencollard/", target: '_blank'%>
  </span>
</div>