<div id="navbar">
  <span> <%= link_to t('history'), history_path %> </span>
  <span> . </span>
  <span> <%= link_to t('philosophy'), philosophy_path %> </span>
  <span> . </span>
  <span> <%= link_to t('types'), types_path %> </span>
  <span> . </span>
  <span> <%= link_to t('vineyards'), vineyards_path %> </span>
  <span> . </span>
  <span> <%= link_to t('contact'), contact_path %> </span>
  <span> . </span>
  <span>
    <%= link_to 'Boutique', 'http://champagne-lucien-collard.lesgrappes.com/', target: '_blank' %>
  </span>
  <span>
    <%= link_to  "https://www.facebook.com/Lucien-Collard-Champagne-992445890800326", target: '_blank' do%>
      <%= image_tag 'fb_logo.png'%>
    <% end %>

    <%= link_to "https://instagram.com/champagneluciencollard/", target: '_blank' do%>
      <%= image_tag 'insta_logo.png' %>
    <% end %>
  </span>
</div>