<!DOCTYPE html>
<html>
<head>
  <title>Champagne</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='fullscreen'>
    <div class=<%= random_bg %>>
      <%= render 'layouts/header' %>
      <div id="wrapper">
        <%= yield %>
      </div>
        <%= render 'layouts/navbar' %>
        <%= render 'layouts/mention_legale'%>
      </div>
    </div>
</body>
</html>
