<!DOCTYPE html>
<html>
<head>
  <title>Champagne</title>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Josefin+Sans:400,300|Gilda+Display' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="bg7">
  <div class="<%=changing_bg%>" id="bg" ></div>
  <div class="settings">
    <%= render 'layouts/header' %>
    <div id="wrapper">
      <%= yield %>
    </div>
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/mention_legale'%>
  </div>
</body>
</html>
