<!DOCTYPE html>
<html>
<head>
  <meta name="keywords" content="<%= meta_keywords %>" />
  <meta name="description" content="<%= meta_description %>" />

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Champagne Lucien Collard</title>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Josefin+Sans:400,300|Gilda+Display' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="bg">
  <div class="<%=changing_bg%>" id="bg" ></div>

  <div class="settings">
    <%= render 'layouts/header' %>
    <div id="wrapper">
      <%= render 'shared/flashes' if flash.present? %>
      <%= yield %>
    </div>
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/mention_legale'%>
  </div>
</body>
</html>
